{% if site.comment_gitment_repo %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="../css/comment_gitment.css">
<script src="../js/comment_gitment.js"></script>
<!-- <script src="https://jjeejj.github.io/js/gitment.js"></script> -->
<script>
    var gitment = new Gitment({
        owner: '{{site.github_username}}',
        repo: '{{site.comment_gitment_repo}}',
        oauth: {
            client_id: '{{site.comment_gitment_clientId}}',
            client_secret: '{{site.comment_gitment_clientSecret}}',
        },
    });
    gitment.render('gitmentContainer')
</script>
{% endif %}